<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <tbody>
      @for (row of rows(); track $index) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <td class="px-6 py-4">{{ $index + index() +1 }}</td>
        @for (cell of row.cells; track $index) {
        <td class="px-6 py-4">
          @if(cell.editing) {
            <input type="text" (keydown)="onCellInputKeyDown(cell, $event)" [(ngModel)]="cellInput" appClickOutside (blur)="onClickOutside(cell)"/>
          } @else {
          <div (click)="startEditing(cell)">
          {{ cell.value }}
          </div>
          }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
